td {
  border: 1px solid black;
  width: 20px;
  height: 20px;
  background-color: #ccc;
}
.highlighted {
  background-color: green;
}
.start-cell {
  background-color: lightseagreen;
}
.end-cell {
  background-color: magenta;
}
